html, body, #root {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}
  
.background-container {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: -12;
    overflow: hidden;
}

.stars {
    background: black url(./images/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: -10;
    overflow: hidden;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url(./images/twinkling.png) repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -8;
    
    -moz-animation: move-background 30s linear infinite;
    -ms-animation: move-background 30s linear infinite;
    -o-animation: move-background 30s linear infinite;
    -webkit-animation: move-background 30s linear infinite;
    animation: move-background 30s linear infinite;
    
}

.purple-bar {
    position: absolute;
    top: 125px;
    left: -100px;
    right: -100px;
    background: purple;
    opacity: 0.15;
    filter: blur(100px);
    height: 35%;
    max-height: 400px;
    z-index: -6;
}

.about-me-container {
    position: relative;
    height: 100%;
    text-align: center;
    animation: enter-about-me 30s linear infinite;
    transform-origin: 50% 100%;
}

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@keyframes enter-about-me {
    from {
        top: 800px; -webkit-transform: translate3d(0px, 0px, 0px) rotateX(20deg);
    }
    to { 
        top: -5000px; -webkit-transform: translate3d(0px, 0px, -2500px) rotateX(25deg);
    }
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px purple, 0 0 20px purple, 0 0 25px purple, 0 0 30px purple, 0 0 35px purple;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px purple, 0 0 40px purple, 0 0 50px purple, 0 0 60px purple, 0 0 70px purple;
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}